.env
.env.*
*.env
!*.env.example

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
vendor/
venv/
env/
.venv/
.env/

dist/
build/
out/
coverage/
.next/

.DS_Store
Thumbs.db
._*

.idea/
.vscode/
*.swp
*.swo

*.zip
*.rar
*.7z